*.key

# emacs unsaved files
\#*#

# Any backups
.bak

# null-ls files
.null-ls_*

# any git keys
git-crypt-key

# 1Password secrets
op_secrets.tpl.json
nix.conf

# direnv layouts
modules/dotfiles/direnv/layouts/**
