/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @love;
	}
}


/* Styles */

/* Colors (rose-pine) */
@import "./rose-pine-moon.css";

* {
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	color: @muted;
}

/* The whole bar */
#waybar {
	background: @base;
	font-family: JetBrains Mono, Siji;
	font-size: 30pt;
    border: 0;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris,
#workspaces,
#hyprland-workspaces {
    border-color: @highlightHigh;
    border-radius: 8px;
	padding-left: 16pt;
	padding-right: 16pt;
    background: @surface;
    margin: 4px;
	font-size: 16pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @love;
}

/* And now modules themselves in their respective order */

/* Workspaces stuff */
#workspaces button * {
    color: @subtle;
}
#workspaces button {
	padding-left: 4pt;
	padding-right: 4pt;
    border: 0px;
    background-color: @surface;
}

/* Active (on focused output) */
#workspaces button.focused * {
	color: @text;
}

/* Contains an urgent window */
#workspaces button.urgent * {
	color: @love;
}

/* Style when cursor is on the button */
#workspaces button:hover * {
	color: @text;
    background-color: @surface;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	color: @subtle;
}

#network {
	color: @iris;
}

#memory {
	color: @gold;
}

#cpu {
	color: @foam;
}

#temperature {
	color: @rose;
}

#battery {
}

#tray {
}

#clock.date {
	color: @subtle;
}

#clock.time {
	color: @foam;
}

